.Hero-section {
    min-height: 100vh;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 7%;
    box-sizing: border-box;
    background:
        radial-gradient(circle at 80% 35%,
            rgba(79, 124, 255, 0.12),
            transparent 35%),
        radial-gradient(circle at 20% 80%,
            rgba(123, 97, 255, 0.08),
            transparent 40%),
        #0A0D14;
    text-align: center;

}

.card1 {
    width: 100%;
    max-width: 850px;
    font-size: 18px;
    text-align: center;

}

.intro {
    font-size: 24px;
    font-weight: 500;
    color: #A7B0C0;
    margin-bottom: 12px;
    margin-top: 80px;
}

.card1 h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 1.05;
    color: #F8FAFC;
    margin-bottom: 16px;
}

.card1 h2 {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 18px;

    background: linear-gradient(90deg,
            #4F7CFF,
            #6366F1,
            #8B5CF6);

    -webkit-background-clip: text;
    color: transparent;
}

.card1 h3 {
    font-size: 19px;
    font-weight: 400;
    color: #A7AFBF;
    line-height: 1.6;
    max-width: 450px;
    margin: 0 auto;
}

.hero-line {
    width: 180px;
    height: 4px;
    margin: 0 auto 28px;

    background: linear-gradient(90deg,
            #4F7CFF,
            #8B5CF6);

    border-radius: 10px;
}

.buttons {
    padding: 15px;
}

.View-project,
.Contact-button {
    color: white;
    padding: 12px 27px;
    border: none;
    border-radius: 6px;
    margin-right: 20px;
}

.View-project {
    background: linear-gradient(135deg, #4F7CFF, #7B4DFF);
}

.Contact-button {
    background: transparent;
    border: 1px solid #4F7CFF;
    color: #6F82FF;
}

.Contact-button:hover {
    background: linear-gradient(135deg, #4F7CFF, #7B4DFF);
    color: white;
    border-color: transparent;
}

.View-project:hover {
    background: linear-gradient(135deg, #3D6FF5, #6938E8);
    box-shadow: 0 8px 25px rgba(79, 124, 255, 0.3);
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.links-ul {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
}

.links-ul a {
    text-decoration: none;
    color: #aaa;
}

.links i {
    margin-right: 6px;
    font-size: 20px;
}
