.navbar {
    padding: 7px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #0b0d17;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 80px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    color: white;
    margin-left: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: 0.03s ease;
}

li:hover a {
    color: #6c63ff;
    cursor: pointer;
    letter-spacing: 0.5px;
    transition: 0.05s;
}

.logo {

    font-size: 30px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.resume-button {
    padding: 10px 22px;
    text-decoration: none;
    background: linear-gradient(135deg,
            #4F7CFF,
            #6366F1);
    color: white;
    border-radius: 10px;
    border: none;
}

.resume-button:hover {
    cursor: pointer;
    box-shadow:
        0 0 25px rgba(79, 124, 255, .45);

    transform: translateY(-2px);
}
