* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #0B0D16;
    color: #F8FAFC;
    ;
    font-family: "Lexend", sans-serif;
}
section {
    scroll-margin-top: 100px;
}
html {
    scroll-behavior: smooth;
}
